URL=https://192.168.0.105 # REPLACE IP THIS WITH YOUR IP APPRESS

BACKEND_URL=${URL}/api

MINIO_SERVICE_URL=minio:9001
MINIO_URL=${URL}/minio/
MINIO_CONSOLE_URL=${URL}/console/
MINIO_ACCESS_KEY=ROOTNAME
MINIO_SECRET_KEY=PASSWORD@123
MINIO_BUCKET_NAME=qr-images